main {
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
}

@keyframes slide {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

#tabla {
    width: 100%;
    animation-duration: 1.5s;
    animation-name: slide;
    animation-iteration-count: initial;
    border-collapse: collapse;

    #fila-cabecera {
        width: 100%;
        text-transform: uppercase;

        th {
            padding: 1rem;
            border-bottom: solid 0.2rem #003566;
        }
    }
    #fila {
        width: 100%;
        text-align: center;

        td {
            padding: 1rem;
            border-bottom: solid 0.2rem #003566;
        }
    }
    .profes {
        background-color: #ffc300;
        border: 0;
        padding: 1.5%;
        font-weight: bold;
        border-radius: 7%;
    }

    .profes:hover {
        background-color: #ffd60a;
    }
    .drop {
        background-color: red;
        padding: 10%;
    }
    .drop:hover {
        background-color: rgb(252, 51, 51);
    }
    #fila:hover {
        background: #ffc400ba;
    }
}
