main {
    width: 100%;
    min-height: 86vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 6% 2%;
    padding: 5%;
    box-sizing: border-box;
    #articulo {
        border: 2px solid #ffc40098;

        h1 {
            font-size: 8em;
            font-weight: lighter;
        }
    }

    #articulo:hover {
        border: 2px solid #ffc400;
    }
    article {
        flex-basis: 18%;
        height: 200px;
        background-color: #121212;
        border: 2px solid #00356687;
        color: white;
        padding: 1%;
        box-sizing: border-box;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5%;
        align-items: center;
        transition: all 500ms;
        cursor: pointer;

        b {
            color: rgb(117, 117, 117);
        }
    }

    article:hover {
        border: 2px solid #356687;
        background-color: #151515;
    }

    article:active {
        transform: scale(0.95);
    }
    .hide{
        display: none;
    }
    .show{
        display:block ;
    }
}
