body {
    background-color: #000814;
    /* background-color: goldenrod; */
}
.index-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    /* margin-left: 20%; */
}

.intro-texto {
    font-family: 'Play', sans-serif;
    /* width: 50%; */
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.index2 {
    display: grid;
    padding: 3%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 5%;
    grid-template-areas: 
    ". intro4 imgs imgs";
    /* margin-left: 35%; */
    /* width: 100%; */
}
.index-texto {
    grid-column: 1/2;
    grid-row: 1/1;
}
.imgPeque {
    grid-area: imgs;
    /* grid-column: 2/3;
    grid-row: 1/1; */
}
.demo {
    display: grid;
    align-items: center;
    width: 100%;
}
.intro1 {
    font-size: 55px;
    color: white;
}
.intro2 {
    width: 65%;
    font-weight: lighter;
    color: gray;
}
.intro3 {
    grid-column: 1/2;
    grid-row: 2/2;
    color: gray;
    font-weight: lighter;
    margin-top: 2%;
    margin-left: 3%;
}
.intro4 {
    grid-area: intro4;

    /* grid-column: 1/3;
    grid-row: 1/1; */
    color: gray;
    /* height: 10%; */
    font-weight: lighter;
    margin-top: 10%;
    margin-left: 25%;
}
.button {
    grid-column: 1/2;
    grid-row: 1/1;
    background-color: #FFC300;
    width: 40%;
    margin-top: 10%;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
}
.button:not(:disabled):hover, .button:not(:disabled):focus {
    outline: 0;
    background: #FFD60A;
}
.img1 {
    width: 85%;
}
.img2 {
    width: 20%;
}
.img3 {
    width: 20%;
}
.img4 {
    width: 20%;
}
.img5 {
    width: 20%;
}